In [3]:
"""
COMPLETE CSV FILES BASICS

This program demostrates everything about CSV (Comma Seperated Values) files:
1. What CSV files are and their characteristics
2. How to load CSV files using different methods
3. How to manipulate and analyze CSV data
4. How to save/export CSV files


"""

# Section 1: CSV File characteristics and overview

"""
What is a CSV File?

CSV stands for "Comma-Seperated Values"
- A plain text file format for storing tabular data
- Each line represents a row of data
- Values in each row are seperated by commas (or other delimiters)
- First row often contains column headers
- File extension: .csv


EXAMPLE CSV STRUCTURE:
name,age,city,salary
Jhon,28,New York,75000
Alice,34,San Francisco,95000
Bob,45,Chicago,68000

KEY CHARACTERISTICS:

1. DELIMITER: Character seperating values (usually comma, but can be semicolon,
tab, pipe, etc.)
2. PLAIN TEXT: Human-readable format, can open in any text editor
3. UNIVERSAL: Supported by almost all data tools (Excel, databases, Python, R)
4. NO DATA TYPES: Everything stored as text (you convert during processing)
5. HEADER ROW: First row typically contains column names
6. LIGHTWEIGHT: Small file size compared to Excel or databases
7. NO FORMULAS: Only stores raw data, no calculations or fromatting


ADVANTAGES:

1. Simple and lightweight
2. Easy to read and edit manually
3. Platform-independent
4. Widely supported across tools
5. Fast to process for large databases

LIMITATIONS:

1. No data type prservation (dates, numbers stored as text)
2. No formatting (colors, fonts, etc.)
3. No multiple sheets (like Excel)
4. Special characters can cause issues
5. No built-in data validation


"""

# SECTION 2: Importing required libraries

# Standard library - built into python
import csv # Basic CSV operations

# Pandas - most powerful library for data manipulation (needs installation)
import pandas as pd

# For creating sample data
from io import StringIO
import os


print("=" * 80)
print("CSV FILES BASIC - COMPREHENSIVE GUIDE")
print("=" * 80)


# Section 3: Creating Sample CSV DATA

print("\n" + "=" * 80)
print("SECTION 1: Creating Sample CSV Data")
print("=" * 80)

# Create sample CSV content as a string
sample_csv_content = """name,age,city,salary,department
John Smith,28,New York,75000,Engineering
Alice Johnson,34,San Francisco,95000,Data Science
Bob Williams,45,Chicago,68000,Marketing
Emma Davis,29,Boston,82000,Engineering
Michael Brown,38,Seattle,91000,Data Science
Sarah Wilson,31,Austin,77000,Marketing
David Lee,42,Denver,88000,Engineering"""


# Save to a file
with open('employees.csv', 'w') as f:
  f.write(sample_csv_content)

print("Created sample file: employees.csv")
print("\nFile contents:")
print(sample_csv_content)


# Section 4: Method 1 - Reading CSV with built-in csv module

print("\n" + "=" * 80)
print("SECTION 2: Reading CSV - Method 1 (Buile-in csv module)")
print("=" * 80)

"""
The csv module is part of Python's standard library.
It's lightweight and good for simple operations.
"""


# Reading CSV as list of dictionaries (recommended for most cases)
print("\n--- Reading as dictionaries (DictReader) ---")
with open('employees.csv', 'r') as file:
  csv_reader = csv.DictReader(file)

  # DictReader treats first row as headers and creates dict for each row
  print(f"Column names: {csv_reader.fieldnames}")

  employees = list(csv_reader) # Convert to list to store all rows

  # Print first two employees
  for i, employee in enumerate(employees[:2]):
    print(f"\nEmployee {i+1}:")
    for key, value in employee.items():
      print(f" {key}: {value}")


  # Reading csv as list of lists
  print("\n--- Reading as lists (reader) ---")
  with open('employees.csv', 'r') as file:
    csv_reader = csv.reader(file)

    # First row contains headers
    headers = next(csv_reader)
    print(f"Headers: {headers}")


    # Remainig rows are data
    print("\nFirst two data rows:")
    for i in range(2):
      row = next(csv_reader)
      print(f"Row {i+1}: {row}")

================================================================================
CSV FILES BASIC - COMPREHENSIVE GUIDE
================================================================================

================================================================================
SECTION 1: Creating Sample CSV Data
================================================================================
Created sample file: employees.csv

File contents:
name,age,city,salary,department
John Smith,28,New York,75000,Engineering
Alice Johnson,34,San Francisco,95000,Data Science
Bob Williams,45,Chicago,68000,Marketing
Emma Davis,29,Boston,82000,Engineering
Michael Brown,38,Seattle,91000,Data Science
Sarah Wilson,31,Austin,77000,Marketing
David Lee,42,Denver,88000,Engineering

================================================================================
SECTION 2: Reading CSV - Method 1 (Buile-in csv module)
================================================================================

--- Reading as dictionaries (DictReader) ---
Column names: ['name', 'age', 'city', 'salary', 'department']

Employee 1:
 name: John Smith
 age: 28
 city: New York
 salary: 75000
 department: Engineering

Employee 2:
 name: Alice Johnson
 age: 34
 city: San Francisco
 salary: 95000
 department: Data Science

--- Reading as lists (reader) ---
Headers: ['name', 'age', 'city', 'salary', 'department']

First two data rows:
Row 1: ['John Smith', '28', 'New York', '75000', 'Engineering']
Row 2: ['Alice Johnson', '34', 'San Francisco', '95000', 'Data Science']

In [ ]:
# SECTION 5: Method 2 - Reading CSV with Pandas (Most powerful)

print("\n" + "=" * 80)
print("SECTION 3: Reading CSV - Method 2 (Pandas - Recommended)")
print("=" * 80)

"""
Pandas is the industry-standard library for data manipulation.
It provides a DataFrame object - think of it as Excel spreadsheet in Python
"""

# Basic read
df = pd.read_csv('employees.csv')

print("\n--- Basic DataFrame Information ---")
print(f"Shape (rows, columns): {df.shape}")
print(f"Column names: {list(df.columns)}")
print(f"Data types:\n{df.dtypes}")


print("\n--- First 3 rows (df.head(3)) ---")
print(df.head(3))

print("\n--- Basic Statistics (df.decribe()) ---")
print(df.describe())

================================================================================
SECTION 3: Reading CSV - Method 2 (Pandas - Recommended)
================================================================================

--- Basic DataFrame Information ---
Shape (rows, columns): (7, 5)
Column names: ['name', 'age', 'city', 'salary', 'department']
Data types:
name          object
age            int64
city          object
salary         int64
department    object
dtype: object

--- First 3 rows (df.head(3)) ---
            name  age           city  salary    department
0     John Smith   28       New York   75000   Engineering
1  Alice Johnson   34  San Francisco   95000  Data Science
2   Bob Williams   45        Chicago   68000     Marketing

--- Basic Statistics (df.decribe()) ---
             age        salary
count   7.000000      7.000000
mean   35.285714  82285.714286
std     6.575568   9621.404709
min    28.000000  68000.000000
25%    30.000000  76000.000000
50%    34.000000  82000.000000
75%    40.000000  89500.000000
max    45.000000  95000.000000

In [ ]:
# Section 6: Handling different CSV Formats


print("\n" + "=" * 80)
print("Section 4: Handling different CSV Formats")
print("=" * 80)



# CSV with different delimiter (semicolon instead of comma)
semicolon_csv = """name;age;country
Alice;25;USA
Bob;30;UK
Charlie;35;Canada"""


with open('semicolon_data.csv', 'w') as f:
  f.write(semicolon_csv)


# Read with custom delimiter
df_semicolon = pd.read_csv('semicolon_data.csv', delimiter=';')
print("\n--- CSV with semicolon delimiter ---")
print(df_semicolon)

================================================================================
Section 4: Handling different CSV Formats
================================================================================

--- CSV with semicolon delimiter ---
      name  age country
0    Alice   25     USA
1      Bob   30      UK
2  Charlie   35  Canada

In [ ]:
# CSV without headers
no_header_csv = """John,25,Engineer
Jane,30,Doctor
Jim,28,Teacher"""

with open('no_header.csv', 'w') as f:
  f.write(no_header_csv)


# Read CSV without headers and assign column names
df_no_header = pd.read_csv('no_header.csv',
                           header=None,
                           names=['Name', 'Age', 'Profession'])
print("\n--- CSV without headers (manually assigned) ---")
print(df_no_header)

--- CSV without headers (manually assigned) ---
   Name  Age Profession
0  John   25   Engineer
1  Jane   30     Doctor
2   Jim   28    Teacher

In [ ]:
# CSV with missing values
missing_csv = """name,age,city
John,28,New York
ALice,,San Francisco
Bob,45,"""

with open('missing_data.csv', 'w') as f:
  f.write(missing_csv)

df_missing = pd.read_csv('missing_data.csv')
print("\n--- CSV with missing values (shown as Nan) ---")
print(df_missing)

--- CSV with missing values (shown as Nan) ---
    name   age           city
0   John  28.0       New York
1  ALice   NaN  San Francisco
2    Bob  45.0            NaN

In [ ]:
# Section 7: Data operations and manipulations

print("\n" + "=" * 80)
print("Section 5: Data Operations and Manipulations")
print("=" * 80)


# Reload main dataset

df = pd.read_csv('employees.csv')


# 1. Selecting columns
print("\n--- Selecting specific columns ---")
print(df[['name', 'salary']].head(3))

# 2. Filtering rows based on conditions
print("\n--- Multiple conditions: Age < 35 AND department = Engineering ---")
young_engineers = df[(df['age'] < 35) & (df['department'] == 'Engineering')]
print(young_engineers)

================================================================================
Section 5: Data Operations and Manipulations
================================================================================

--- Selecting specific columns ---
            name  salary
0     John Smith   75000
1  Alice Johnson   95000
2   Bob Williams   68000

--- Multiple conditions: Age < 35 AND department = Engineering ---
         name  age      city  salary   department
0  John Smith   28  New York   75000  Engineering
3  Emma Davis   29    Boston   82000  Engineering

In [ ]:
# Sorting data
print("\n--- Sorting by salary (descending) ---")
print(df.sort_values('salary', ascending=False))

--- Sorting by salary (descending) ---
            name  age           city  salary    department
1  Alice Johnson   34  San Francisco   95000  Data Science
4  Michael Brown   38        Seattle   91000  Data Science
6      David Lee   42         Denver   88000   Engineering
3     Emma Davis   29         Boston   82000   Engineering
5   Sarah Wilson   31         Austin   77000     Marketing
0     John Smith   28       New York   75000   Engineering
2   Bob Williams   45        Chicago   68000     Marketing

In [ ]:
# Adding new columns (calculated)
print("\n--- Adding calculated column (annual_bonus = salary * 0.1) ---")
df['annual_bonus'] = df['salary'] * 0.1
print(df[['name', 'salary', 'annual_bonus']].head(3))

--- Adding calculated column (annual_bonus = salary * 0.1) ---
            name  salary  annual_bonus
0     John Smith   75000        7500.0
1  Alice Johnson   95000        9500.0
2   Bob Williams   68000        6800.0

In [ ]:
# Grouping and aggregating
print("\n--- Group by department and calculate average salary ---")
dept_avg = df.groupby('department')['salary'].mean()
print(dept_avg)

--- Group by department and calculate average salary ---
department
Data Science    93000.000000
Engineering     81666.666667
Marketing       72500.000000
Name: salary, dtype: float64

In [ ]:
# Counting values
print("\n--- Count employees by department ---")
print(df['department'].value_counts())

--- Count employees by department ---
department
Engineering     3
Data Science    2
Marketing       2
Name: count, dtype: int64

In [ ]:
# Finding unique values
print("\n-- Unique cities ---")
print(df['city'].unique())

-- Unique cities ---
['New York' 'San Francisco' 'Chicago' 'Boston' 'Seattle' 'Austin' 'Denver']

In [ ]:
# Basic statistics per column
print("\n--- Salary statistics ---")
print(f"Mean salary: ${df['salary'].mean():,.2f}")
print(f"Median salary: ${df['salary'].median():,.2f}")
print(f"Min salary: ${df['salary'].min():,.2f}")
print(f"Max salary: ${df['salary'].max():,.2f}")

--- Salary statistics ---
Mean salary: $82,285.71
Median salary: $82,000.00
Min salary: $68,000.00
Max salary: $95,000.00

In [ ]:
# Acessing specific cell values
print("\n--- Acessing specific cells ---")
print(f"First employee's name: {df.loc[0, 'name']}")
print(f"Salary at row 2: ${df.iloc[2]['salary']:,}")

--- Acessing specific cells ---
First employee's name: John Smith
Salary at row 2: $68,000

In [ ]:
# Section 8: Handling missing data

print("\n" + "=" * 80)
print("Section 6: Handling Missing Data")
print("=" * 80)


df_missing = pd.read_csv('missing_data.csv')

print("\n--- Original data with missing values ---")
print(df_missing)

print("\n--- Checking for missing values ---")
print(df_missing.isnull().sum())

================================================================================
Section 6: Handling Missing Data
================================================================================

--- Original data with missing values ---
    name   age           city
0   John  28.0       New York
1  ALice   NaN  San Francisco
2    Bob  45.0            NaN

--- Checking for missing values ---
name    0
age     1
city    1
dtype: int64

In [ ]:
# Option 1: Drop rows with any missing values
print("\n--- Drop rows with missing values ---")
df_dropped = df_missing.dropna()
print(df_dropped)

--- Drop rows with missing values ---
   name   age      city
0  John  28.0  New York

In [ ]:
# Option 2: Fill missing values with a default
print("\n Fill missing values with a defaults ---")
df_filled = df_missing.fillna({'age': 0, 'city': 'Unknown'})
print(df_filled)

 Fill missing values with a defaults ---
    name   age           city
0   John  28.0       New York
1  ALice   0.0  San Francisco
2    Bob  45.0        Unknown

In [ ]:
# Option 3: Fill with mean/median for numerical columns
df_missing_copy = df_missing.copy()
df_missing_copy['age'] = df_missing_copy['age'].fillna(df_missing_copy['age'].mean())
print("\n--- Fill missing age with mean age ---")
print(df_missing_copy)

--- Fill missing age with mean age ---
    name   age           city
0   John  28.0       New York
1  ALice  36.5  San Francisco
2    Bob  45.0            NaN

In [ ]:
# Section 9: Writng/Saving CSV Files

print("\n" + "=" * 80)
print("Section 7: Writing/Saving CSV Files")
print("=" * 80)


# Create a new DataFrame
new_data = pd.DataFrame({
    'product': ['Laptop', 'Phone', 'Tablet', 'Monitor'],
    'price': [1200, 800, 500, 350],
    'stock': [15, 30, 25, 40]
})


# Save to CSV
new_data.to_csv('products.csv', index=False)
print("Saved products.csv (without index)")

# Save with custom seperator
new_data.to_csv('products_semicolon.csv', index=False, sep=';')
print("Saved products_semicolon.csv (semicolon seperator)")


# Save only specific columns
new_data[['product', 'price']].to_csv('products_simple.csv', index=False)
print("Saved products_simple.csv (only two columns)")

# Append to existing CSV (requires special handling)
additional_products = pd.DataFrame({
    'product': ['Keyboard'],
    'price': [75],
    'stock': [50]
})

================================================================================
Section 7: Writing/Saving CSV Files
================================================================================
Saved products.csv (without index)
Saved products_semicolon.csv (semicolon seperator)
Saved products_simple.csv (only two columns)

In [ ]:
# Open in append mode
with open('products.csv', 'a') as f:
  additional_products.to_csv(f, header=False, index=False)
print("Appended new row to products.csv")

Appended new row to products.csv

In [ ]:
# Using csv module  to write
print("\n--- Writing with csv module ---")
with open('manual_write.csv', 'w', newline='') as f:
  writer = csv.writer(f)

  # Write header
  writer.writerow(['Name', 'Score', 'Grade'])

  # Write data rows
  writer.writerow(['Alice', 95, 'A'])
  writer.writerow(['Bob', 87, 'B'])
  writer.writerow(['Charlie', 92, 'A'])


print("Created manual_write.csv using csv.writer")

--- Writing with csv module ---
Created manual_write.csv using csv.writer

In [4]:
# Section 10: Advanced Operations
import pandas as pd


print("\n" + "=" * 80)
print("Section 8: Advanced Operations")
print("=" * 80)

# Reload employees data
df = pd.read_csv('employees.csv')

# 1. Applying custom functions
print("\n--- Applying custom function (uppercase names) ---")
df['name_upper'] = df['name'].apply(lambda x: x.upper())
print(df[['name', 'name_upper']].head(3))

================================================================================
Section 8: Advanced Operations
================================================================================

--- Applying custom function (uppercase names) ---
            name     name_upper
0     John Smith     JOHN SMITH
1  Alice Johnson  ALICE JOHNSON
2   Bob Williams   BOB WILLIAMS

In [5]:
# 2. Creating conditional columns

print("\n--- Creating conditional column (salary_category) ---")
df['salary_category'] = df['salary'].apply(
    lambda x: 'High' if x > 85000 else 'Medium' if x >70000 else 'Low'
)
print(df[['name', 'salary', 'salary_category']])

--- Creating conditional column (salary_category) ---
            name  salary salary_category
0     John Smith   75000          Medium
1  Alice Johnson   95000            High
2   Bob Williams   68000             Low
3     Emma Davis   82000          Medium
4  Michael Brown   91000            High
5   Sarah Wilson   77000          Medium
6      David Lee   88000            High

In [6]:
# 3 String operations
print("\n--- String operations (extracting first name) ---")
df['first_name'] = df['name'].str.split().str[0]
print(df[['name', 'first_name']].head(3))

--- String operations (extracting first name) ---
            name first_name
0     John Smith       John
1  Alice Johnson      Alice
2   Bob Williams        Bob

In [7]:
# 4. Renaming columns
print("\n--- Renaming columns ---")
df_renamed = df.rename(columns={'name': 'employee_name', 'salary':'annual_salary'})
print(df_renamed.columns.tolist())

--- Renaming columns ---
['employee_name', 'age', 'city', 'annual_salary', 'department', 'name_upper', 'salary_category', 'first_name']

In [10]:
# 5. MErging/Jpining DataFrames

print("\n--- Merging two DataFrames ---")

# Create additional employee  info

performance_data = pd.DataFrame({
    'name': ['Jhon Smith', 'Alice Johnson', 'Bob Williams'],
    'performance_rating': [4.5, 4.8, 4.2],
    'years_experience': [5, 8, 15]
})

merged = pd.merge(df, performance_data, on='name', how='left')
print(merged[['name', 'department', 'performance_rating', 'years_experience']].head())

--- Merging two DataFrames ---
            name    department  performance_rating  years_experience
0     John Smith   Engineering                 NaN               NaN
1  Alice Johnson  Data Science                 4.8               8.0
2   Bob Williams     Marketing                 4.2              15.0
3     Emma Davis   Engineering                 NaN               NaN
4  Michael Brown  Data Science                 NaN               NaN

In [ ]:
# Section 11: Practical Tips

print("\n" + "=" * 80)
print("Section 9: Practical Tips and Best Practices")
print("=" * 80)

tips = """
BEST PRACTICES:
--------------


1. ALWAYS check your data after loading:
  - df.head() - see first rows
  - df.info() - see column types and missing values
  - df.shape() see dimensions


2. HANDLE MISSING DATA appropriately:
  - Decide whether to drop or fill based on context
  - Document your decision

3. DATA TYPE matter:
  - Use df['column'].astype() tp convert types
  - Dates should be converted: pd.to_datetime()
  - Numbers stored as strings won't calculate correctly

4. MEMORY EFFICENCY:
  - For large files, use chunksize parameter
  - df = pd.read_csv('big_file.csv', chunksize=10000)


5. ENCODING ISSUES:
  - If seeing weird characters, try:encodings='utf-8' or 'latin-1'
  - pd.read_csv('file.csv', encoding='utf-8)

6. SAVING DATA:
  - Use index=False unless you need row numbers
  - Choose appropiate delimiter for your use case
  - Consider compression for large files: compression='gzip'


7. VALIDATION:
  - ALways verify data after operations
  - Check for duplicates: df.duplicated()
  - Validate ranges: df['age'].between(0, 120)


COMMON ERRORS AND SOLUTIONS:
---------------------------

Error: "FileNotFoundError"
Solution: Check file path, use os.path.exists('file.csv)

Error: "ParseError"
Solution: FIle might have irregular format, try error_bad_lines=False

Error: "UnicodeDecodeError"
Solution: Specify encoding paramter

Error: Values not calculating correctly
Solution: Check data types with df.types, convert if needed



"""