In [ ]:
# Creare a list of squares for numbers 1 to 10

square_numbers = [x * x for x in range(1,11)]
print(square_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Create a list of even numbers from o to 20

even_numbers = [n for n in range(0,21) if n % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Convert all strings in this list to uppercase

words = ["hello", "world", "python", "rocks"]

upper_converted = [word.upper() for word in words]
print(upper_converted)

['HELLO', 'WORLD', 'PYTHON', 'ROCKS']

In [ ]:
# Get the length of each word in the list

fruits = ["apple", "banana", "cherry", "data"]

fruits_length = [len(fruit) for fruit in fruits]
print(fruits_length)

[5, 6, 6, 4]

In [ ]:
# Get all numbers divisible by 3 or 5 from 1 to 50

divisible_numbers = [num for num in range(1,51) if num % 3 == 0 or num % 5 == 0]
print(divisible_numbers)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50]

In [ ]:
# Extract first character of each word

animals = ["cat", "dog", "elephant", "fox"]

first_character = [word[0] for word in animals]
print(first_character)

['c', 'd', 'e', 'f']

In [ ]:
# Create list of tuples (number, square) for numbers 1-5

square_number_tuple = [(num, num*num) for num in range(1,6)]
print(square_number_tuple)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# Filter out negative numbers and square the rest

numbers = [3, -2, 7, -1, 5, -4, 8]

filtered_square_numbers = [num*num for num in numbers if num > 0]
print(filtered_square_numbers)

[9, 49, 25, 64]

In [ ]:
# Flatten a 2D list

matrix = [[1,2,3], [4,5,6], [7,8,9]]

flattened_matrix = []

for i in range(len(matrix)):
  for j in range(len(matrix[i])):
    flattened_matrix.append(matrix[i][j])
print(flattened_matrix)


flattened_matrix = [matrix[i][j] for i in range(len(matrix)) for j in range(len(matrix[i]))]
print(flattened_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Create list of all vowels found in a sentence

sentence = "The quick brown fox jumps over the lazy dog"

vowels_list = [vowel for vowel in sentence if vowel in ['a', 'e', 'i', 'o', 'u']]
print(vowels_list)

['e', 'u', 'i', 'o', 'o', 'u', 'o', 'e', 'e', 'a', 'o']

In [ ]:
# Get all prime numbers from 2 to 50

import math
prime_num = [num for num in range(2, 50) if not any(num % i == 0 for i in range(2, int(math.sqrt(num))+1))]
print(prime_num)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
prime_num = [num for num in range(2, 50)
             if all(num % i != 0 for i in range(2,num)) ]
print(prime_num)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# Create a dictionary from two lists using dict comprehension

keys = ["name", "age", "city"]
values = ["Alice", 25, "NYC"]


dict_comprehension = {k:v for k,v in zip(keys, values)}
print(dict_comprehension)

person = dict(zip(keys, values))
print(person)

{'name': 'Alice', 'age': 25, 'city': 'NYC'}
{'name': 'Alice', 'age': 25, 'city': 'NYC'}

In [ ]:
# Create a nested list comprehension for multiplication table (1-5)

In [ ]:
# Multiplication table to 5
multiplication_list = []

for i in range(1,6):
  for j in range(1,6):
    multiplication_list[i-1][j-1] = i * j


print(multiplication_list)

IndexError: list index out of range

ERROR ANALYSIS
The aove error shows index out of range because multiplication[i-1]  [i-j] is trying to access the index that has not been created as of yet since I have initialized the multiplication_list to be empty. So the index doesnot exist as of yet.

SOLUTION
1. One of the soultion might be to initialize the multiplication_list with elements as zeroes