In [2]:
# Write a function that greets a person by name

def greetings(name):
  print(f"Hello {name}. Good Morning!")


greetings("Nikhil")



# Same function but in a more proper way

def create_greeting(name: str) -> str:
  """ Create a personalized greeting message

  Args:
      name (str): The name of the person to greet.

  Returns:
      str: The formatted greeting message


  """
  return f"Hello {name}. Good evening"


create_greeting("Ram")

Hello Nikhil. Good Morning!

'Hello Ram. Good evening'

In [3]:
# Write a function that takes two numbers and returns their sum


def sum_numbers(num1, num2):
  return num1+num2


print(f"{sum_numbers(5,5)}")

10

In [7]:
# Write a function that checks if a number is even

def check_even(num1):
  return True if num1 % 2 == 0 else False



print(f"{check_even(5)}")


# More simple way

def even_number_check(num) -> bool:
  return num % 2 == 0


print(f"{even_number_check(6)}")
print(f"{even_number_check(5)}")

False
True
False

In [11]:
# Write a function that takes two numbers and returns their sum


def larger_number(num1, num2):
  return num1 if num1 > num2 else num2



print(f"{larger_number(5,2,)}")

5

In [12]:
# Write a function that calculates the area of a rectangle

def area_rectangle(l,b):
  return l * b


print(f"{area_rectangle(10, 20)}")

200

In [18]:
# Write a function that greets someone with a custom message (default: "guest")

def greet_custom(name = "guest"):
  return f"Hello {name}!"



print(greet_custom("Nikhil"))
print(greet_custom())

Hello Nikhil!
Hello guest!

In [19]:
# Write a function that returns both quotient and remainder
# Example divide(10, 3) -> (3, 1)


def divide(dividend, divisor):
  return (dividend/divisor, dividend%divisor)



print(divide(20, 10))

(2.0, 0)

In [24]:
# Write a funtion that counts vowels in a string


def count_vowels(word):
  return len([n for n in word if n in "aeiou"])


print(count_vowels("aeiouaaazzzz"))

8

In [31]:
# Write a function that reverses a string


def string_reversed(word):
  return word[:: -1]


print(string_reversed("abcdefghijkl"))

lkjihgfedcba

In [32]:
# Write a function that finds the factorial of a number
import math as m


def fact_num(num):
  return m.factorial(num)


print(fact_num(5))

120

In [34]:
# Write a function that returns the sum of all numbers in a list

def sum_list(lst):
  return sum(lst)



print(sum_list([1,2,3,4,5]))

15

In [37]:
# Write a function that finds the average of a list of numbers


def average_list(lst):
  return (sum(lst)/len(lst))



print(average_list([10,20,30]))

20.0

In [38]:
# Write a function that accepts any number of arguments and returns their sum


def sum_all(*args):
  sum = 0
  for n in args:
    sum += n
  return sum


print(sum_all(1,2,3))

6

In [42]:
# Write a function that finds maximum in a list
# Don't use built-in max()


def find_max(lst):
  greatest = 0
  for i in range(len(lst)):
    if lst[i] > greatest:
      greatest = lst[i]

  return greatest

print(find_max([1,2,3,4,5]))

5

In [5]:
# Write a function that removes duplicates from a list (preserve order)

def remove_duplicates(lst):
  seen = []
  duplicate = []
  for i in range(len(lst)):
    if lst[i] not in seen:
      duplicate.append(lst[i])
      seen.append(lst[i])

  return duplicate



print(f"{remove_duplicates([1,2,3,3,4,4,5,5])}")

[1, 2, 3, 4, 5]

In [6]:
# Write a function that accepts keyword arguments and prints them


def print_info(name, age, city):
  print(f"name: {name}, age: {age}, city:{city}")



print_info(name = "Nikhil", age = "26", city = "Berlin")

name: Nikhil, age: 26, city:Berlin