In [3]:
# Create a function that prints a pattern of stars
# but doesn't return anything. Then check what it returns when
# you call it.


def pattern(n):
  print("*" * n)

  return

if (pattern(5)):
  print("Since the return value is nothing it returns none")

*****
Since the return value is nothing it returns none

In [4]:
# Create a function that takes a number:
# - if positive, return the number as is (int/float)
# - if negative, return "Negative" (string)
# - if zero, return None


def conditional_return(num):
  if  num > 0:
    return num
  elif num < 0:
    return "Negative"
  else:
    return 0


print(conditional_return(1))
print(conditional_return(-1))
print(conditional_return(0))

1
Negative
0

In [7]:
# Create a function that tries to modify an integer parameter
# Pass a variable to it and print the variable before and after the call

num = 5
print(num)

def call_value_function(num):
  num = num + 5
  print(num)


call_value_function(num)
print(num)

5
10
5

In [8]:
# Create a function that modifies a list parameter (append something to it)
# Pass a list to it and print before and after the call

lst = [1,2,3,4,5]


def mutable_arguments(lst):
  lst.append(100)




mutable_arguments(lst)
print(lst)

[1, 2, 3, 4, 5, 100]

In [12]:
# Create a function with a list as default parameter
# Call it multiple times without passing arguments
# Observe the unexpected behavior, then fix it


def func(items=[]):
  "Function with mutable default argument"
  items.append(len(items))
  return items




# Let's see the unexpected behavior
print("First call:")
result1 = func()
print(f"Result: {result1}")


print("\nSecond call: ")
result2 = func()
print(f"Result: {result2}")

print("\nThird call: ")
result3 = func()
print(f"Result: {result3}")


print("\nCall with explicit argument:")
result4 = func([10, 20])
print(f"Result: {result4}")


# Why does the length keep increasing

# Because the same list object persists beterrn function calls! Each time you call
# func() without arguments
# You are working with the exact same list from the previous call
# The list has grown longer since last time
# So len(items) gives a bigger number each time


# FIXED VERSION

def func_fixed(items = None):
  if items is None:
    items = [] # NEW list every time
  items.append(len(len(items)))
  return items

First call:
Result: [0]

Second call:
Result: [0, 1]

Third call:
Result: [0, 1, 2]

Call with explicit argument:
Result: [10, 20, 2]

In [14]:
# Create two functions:
# - one that modifies a list in-place (sorts it, returns None)
# - one that returns a NEW sorted list without modifying the original



def modified_list(lst):
  lst.append(1)

  return


def unmodified_list(lst):
  sorted_list = sorted(lst)

  return sorted_list



print(modified_list([1,2,3,4,5,-1,-2,-4]))
print(unmodified_list([1,2,3,4,5,-1,-2,-4]))

None
[-4, -2, -1, 1, 2, 3, 4, 5]

In [21]:
# Create a function with different types of arguments

def positional(name, age, grade):
  print(f"Name: {name}, Age: {age}, Grade: {grade} ")



positional("Nikhil", 26, "Masters")     # Correct position
positional("Masters", "NIkhil", 26)     # Incorrect position
positional(name = "Ram", grade = "PHD", age = 33)   # With keyword the order of the argument doesnot matter



def variable_length(*args):
  for v in args:
    print(v)

variable_length(1,2,3,4,5)
variable_length(1,2222)

Name: Nikhil, Age: 26, Grade: Masters
Name: Masters, Age: NIkhil, Grade: 26
Name: Ram, Age: 33, Grade: PHD
1
2
3
4
5
1
2222

In [24]:
# create a function that accepts any number of positional arguments and returns their sum


def variable_length_func(*num):
  return sum(num)



print(variable_length_func(1))

1

In [27]:
# Understanding the * parameter

def show_args(*args):
  print(f"Type: {type(args)}")
  print(f"Value: {args}")
  print(f"Length: {len(args)}")



show_args(1,2,3)
show_args("Hello", "world")
show_args()


# With regular parameter

def sum_list(numbers):
  return sum(numbers)

Type: <class 'tuple'>
Value: (1, 2, 3)
Length: 3
Type: <class 'tuple'>
Value: ('Hello', 'world')
Length: 2
Type: <class 'tuple'>
Value: ()
Length: 0

In [28]:
# *args with regular parameters

def func(first, second, *rest):
  f = first
  s = second
  t = rest

  print(f, s, t)



func(1,2,3,4,5)

1 2 (3, 4, 5)

In [29]:

# Create a function that takes *args and returns count_of_args, sum_of_args, list_of_args


def args_para(*args):
  d = args
  l = list(d)


  return len(d), sum(d), l


print(args_para(1,2,3,4,5,6,7))

(7, 28, [1, 2, 3, 4, 5, 6, 7])

In [35]:
# Create a function that accepts any keyword arguments and prints each key-value pair


def variable_key(**kwargs):
  for k,v in kwargs.items():
    print(k,v)



variable_key(a=2, b=3, c="Hello", d=3.14, e=-2)

a 2
b 3
c Hello
d 3.14
e -2

In [36]:
# **kwargs with regular parameters

def func(name, age, **other_info):
  print(name)
  print(age)
  print(other_info)




func(name= "Nikhil", age = 26, hobbies = "reading", internship = 7, Deutsch = "yes")

Nikhil
26
{'hobbies': 'reading', 'internship': 7, 'Deutsch': 'yes'}

In [37]:
def func(*args, **kwargs):
  first = args
  second = kwargs

  print(first)
  print(second)



func(1,2,3,4,5,5, university = "gisma", address = "potsdam", course= "Data science")

(1, 2, 3, 4, 5, 5)
{'university': 'gisma', 'address': 'potsdam', 'course': 'Data science'}

In [41]:
# Complete parameter combination

def func(a, b=10, *args, c, d=20, **kwargs):
  print(a)
  print(b)
  print(args)
  print(c)    # this must always be keyword value because it comes after multiple positional argument
  print(d)
  print(kwargs)



func("aa",1,2,3,4, c =40, phrase = "all around", another = "hello")

aa
1
(2, 3, 4)
40
20
{'phrase': 'all around', 'another': 'hello'}

In [45]:



def flexible_function(operation, *args, **options):
  """
  Perform a flexible operation based on the given parameters.


  Parameters:
    operation (str): The operation to perform. Options: "add", "multiply, "concat
    *args: Number or strings to operate on.
    **options: Additional options:
        - round_to (int): Number of decimal places to round for math ops
        - uppercase (bool): convert concatenated result to uppercase.

  Returns:
    The result of the specified operation.

    """



# Handle missing args

  if not args:
    return "Error: No arguments provided"


  # Handle addition of numbers
  if operation == "add":
    try:
      result = sum(args)
      if "round_to" in options:
        result = round(result, options["round_to"])
      return result
    except TypeError:
      return "Error: 'add' operation requires numeric values only"



  # Handle multiplication of numbers

  elif operation == "multiply":
    try:
      result = 1
      for num in args:
        result *= num
      if "round_to" in options:
        result = round(result, options["round_to"])
      return result
    except TypeError:
      return "Error: 'multiply' operation requires numeric values only"


  # Handle elif operation
  elif operation == "concat":
    try:
      result = "".join(str(item) for item in args)
      if options.get("uppercase", False):
        result = result.upper()
      return result
    except Exception as e:
      return f"Error during concatenation: {e}"

  else:
    return "Error: Unsupported operation. Use 'add', 'multiply' or 'concat' "


print(flexible_function("add", 3, 5, 2.4))
# ➜ 10.4

print(flexible_function("add", 3.14159, 2.71828, round_to=2))
# ➜ 5.86

print(flexible_function("multiply", 2, 3, 4))
# ➜ 24

print(flexible_function("concat", "data", "science", "rocks", uppercase=True))
# ➜ "DATASCIENCEROCKS"

print(flexible_function("concat", "Hello", " ", "World"))
# ➜ "Hello World"

print(flexible_function("divide", 2, 3))
# ➜ "Error: Unsupported operation. Use 'add', 'multiply', or 'concat'."

10.4
5.86
24
DATASCIENCEROCKS
Hello World
Error: Unsupported operation. Use 'add', 'multiply' or 'concat'

In [52]:
# Unpacking arguments


def func(a,b,c):
  print(a)
  print(b)
  print(c)


func(*[1,2,3])


def dict_func(name, age, city):
  print(name)
  print(age)
  print(city)


dict_func(**{'name': "Alice", 'age': "in the", 'city':"Borderland"})

1
2
3
Alice
in the
Borderland

In [58]:
def func(a,b,c,d,e):
  print(a, b, c, d, e)



func(1, *[2,3], 4, 5,)



def multiple_unpack(a,b,c,d,e,f):
  print(a,b,c,d,e,f)



multiple_unpack(*[1,2], *[3,4], e=5, **{'f': 6})



def another(*args):
  first, *middle, last = args

  print(first, middle, last)

another(*range(10))

1 2 3 4 5
1 2 3 4 5 6
0 [1, 2, 3, 4, 5, 6, 7, 8] 9