In [3]:
# Create a SQL query builder

def build_query(table, /, *columns, where=None, order_by=None, limit=None, **options):
  # Build SELECT clause
  if columns:
    columns_str = ",".join(columns)
  else:
    columns_str = "*"

  query_parts = [f"SELECT {columns_str} FROM {table}"]

  # Add WHERE clause if provided
  if where:
    query_parts.append(f"WHERE {where}")

  # Add ORDER BY clause if provided
  if order_by:
    query_parts.append(f"ORDER BY {order_by}")

  # Add LIMIT clause if provided
  if limit:
    query_parts.append(f"LIMIT {limit}")

  # Handle additional Options
  for option, value in options.items():
    # Convert Python-style option names to SQL keywords
    if option == "distinct" and value:
      query_parts[0] = query_parts[0].replace("SELECT", "SELECT DISTINCT")

    elif option == "join":
      query_parts.insert(1, f"JOIN {value}")  # Insert after FROM clause

    elif option == "offset":
      query_parts.append(f"OFFSET {value}")
    elif option == "group_by":
      query_parts.append(f"GROUP BY {value}")

      # Add more option as needed
  return " ".join(query_parts) + ";"



# Test examples
print("=== Basic Examples ===")
print(build_query("users"))
print(build_query("users", "id", "name", "email"))
print(build_query("products", "name", "price", where="price > 100"))

print("\n=== Complex Examples ===")
print(build_query(
    "employees",
    "first_name", "last_name", "salary",
    where="department = 'Engineering' AND salary > 50000",
    order_by="last_name ASC, first_name ASC",
    limit=10
))

=== Basic Examples ===
SELECT * FROM users;
SELECT id,name,email FROM users;
SELECT name,price FROM products WHERE price > 100;

=== Complex Examples ===
SELECT first_name,last_name,salary FROM employees WHERE department = 'Engineering' AND salary > 50000 ORDER BY last_name ASC, first_name ASC LIMIT 10;

In [5]:
# Create a flexible calculator


def flexible_calculator(operation, *numbers, round_result=False, decimal_places=2):
  if operation.lower() == "sum":
    sum_num = sum(numbers)
    if round_result == True:
      return f"{sum_num:.{decimal_places}f}"
    else:
      return sum_num

  elif operation.lower() == "product":
    product = 1
    for num in numbers:
      product *= num
    if round_result == True:
      return f"{product:.{decimal_places}f}"
    else:
      return product

  elif operation.lower() == "average":
    average = sum(numbers)/len(numbers)
    if round_result == True:
      return f"{average:.{decimal_places}f}"
    else:
      return average


  elif operation.lower() == "min":
    return min(numbers)

  elif operation.lower() == "max":
    return max(numbers)

  else:
    return "Invalid operation"



print(flexible_calculator('average', 10, 20, 30, round_result=True, decimal_places=1))
print(flexible_calculator('product', 1.5, 2.5, 3.5, round_result=True))

20.0
13.12

In [9]:
# Create a function that expects 5 arguments


def process(a,b,c,d,e):
  return f"a={a}, b={b}, c={c}, d={d}, e={e}"


# Test with multiple sequence types
numbers_list = [1,2,3,4,5]
print(process(*numbers_list))


numbers_tuple = (10, 20,30,40,50)
print(process(*numbers_tuple))


numbers_range = range(5,10)
print(process(*numbers_range))


mixed_data = [100, 200, 300, 400, "YELLOw"]
print(process(*mixed_data))


text = "hello"
print(process(*text))

a=1, b=2, c=3, d=4, e=5
a=10, b=20, c=30, d=40, e=50
a=5, b=6, c=7, d=8, e=9
a=100, b=200, c=300, d=400, e=YELLOw
a=h, b=e, c=l, d=l, e=o

In [10]:
# Create a function expecting keyword arguments

def create_profile(name, age, email, city):
  return f"name:{name}, age:{age}, email:{email}, city:{city}"




first_profile = {
    'name' : "Nikhil",
    'age'  : 26,
    'email' : "nikhiladhikari1@gmail",
    'city' : "Berlin"
}


print(create_profile(**first_profile))

name:Nikhil, age:26, email:nikhiladhikari1@gmail, city:Berlin

In [15]:
# Create a function and call it with mixed unpacking

def mixed(a,b,c,d,e,f):
  return a, b, c, d, e, f



print(mixed(1, *[2,3], d=4, **{'e': 5, 'f':6}))

(1, 2, 3, 4, 5, 6)

In [16]:
# Create a function with *args, call it with multiple iterables

def collect(*args):
  return args

print(collect(1,2,4, *[4,5], *range(4), *'abcdef'))

(1, 2, 4, 4, 5, 0, 1, 2, 3, 'a', 'b', 'c', 'd', 'e', 'f')

In [18]:
# Create a function that accepts unpacked nested structures

def process_matrix(*rows):
  return rows

# Python unpacking only works one level deep at a time

print(process_matrix(*[1,2], [3,4,5], [100,200,300], *'abcdef'))

(1, 2, [3, 4, 5], [100, 200, 300], 'a', 'b', 'c', 'd', 'e', 'f')

In [19]:
# Demonstratre pratial unpacking

def many_params(a,b,c,d,e,f,g,h,i,j):
  return a, b, c, d, e, f, g, h, i, j



print(many_params(1,2,4, *[4,5], 6, 7, *[8,9,10]))

(1, 2, 4, 4, 5, 6, 7, 8, 9, 10)

In [20]:
# Create a function showing unpacking with defaults

def with_defaults(a, b, c=3, d=5):
  return a, b, c, d

print(with_defaults(*[1,2]))

(1, 2, 3, 5)